<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://202.99.45.60:8899/zfapp/appdownload/wojk20170220a.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sdunicom.womonitor</string>
				<key>bundle-version</key>
				<string>1.11</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>iPad</string>
				<key>title</key>
				<string>中国联通WO监控</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
